* {
  
  background-color: rgb(240, 235, 227);
  font-size: large;
}

body {
  background: linear-gradient(45deg, #cfe6ff, #e4cfff);
}

h1 {
  font-size: 50px;
  color: rgb(54, 63, 81);
}


p {
  color: rgb(46, 58, 63);
  margin-bottom: 35px;
}

h2 {
  font-size: 20px;
}