.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-28fi {
  background-color: #036400;
  border-color: #000000;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-lc33 {
  background-color: #34ff34;
  border-color: #000000;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-xrwy {
  background-color: #036400;
  border-color: #000000;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}


.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-60q6 {
  background-color: #34ff34;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-gw34 {
  background-color: #3531ff;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-6daj {
  background-color: #ac4545;
  color: #ffcc67;
  text-align: left;
  vertical-align: top;
}
.tg .tg-symt {
  background-color: #000000;
  border-color: inherit;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-nuwg {
  background-color: #3531ff;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}
.tg .tg-mlik {
  background-color: #f8a102;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-p9uq {
  background-color: #f8ff00;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-wnu9 {
  background-color: #343434;
  border-color: #330001;
  color: #ffffff;
  text-align: left;
  vertical-align: top;
}
.tg .tg-wdmc {
  background-color: #ac4545;
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-kujg {
  background-color: #f8a102;
  color: #000000;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  vertical-align: top;
}


.tg {
  border-collapse: collapse;
  border-spacing: 0;
}
.tg td {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg th {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  overflow: hidden;
  padding: 10px 5px;
  word-break: normal;
}
.tg .tg-096r {
  color: #000000;
  text-align: left;
  vertical-align: top;
}
.tg .tg-0lax {
  text-align: left;
  vertical-align: top;
}
